*{
    transition: all 200ms ease-in-out;
}

.main-parent{
    /* background-color: #364966; */
}

.bg-transparent { background-color: transparent; }

.hover-shadow:hover{
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.089)!important;
}

/* for pagination */
.pagination-container {
    display: flex;
    column-gap: 10px;
}
.pagination-container li {
    list-style-type: none;
}
.paginate-buttons {
    height: 40px;
    min-width: 40px;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(242, 242, 242);
    border: unset;
    color: black;
}
.paginate-buttons:hover {
    background-color: #d8d8d8;
}
.active-page {
    background-color: #0d6efd;
    border: unset;
    color: white;
}
.active-page:hover {
    background-color: #0b5ed7;
}